@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
  --logo-color-initial: #ffffff;
  --logo-color-scrolled: #000000;
  --primary-color-hover: #000000;
}

.header-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-family: var(--font-family);

  transition: background-color 0.3s ease-out, transform 0.3s ease-out,
    box-shadow 0.3s ease-out;
}

.header-container.transparent {
  background-color: transparent;
  border-bottom: none;
}

.header-container.transparent .header-content {
  color: #ffffff;
}

.header-container.transparent .logo a {
  color: var(--logo-color-initial);
}

.header-container.transparent .navigation a {
  color: #ffffff;
}

.header-container.transparent .navigation a::after {
  background-color: #ffffff;
}

.header-container.transparent .icon-btn {
  color: #ffffff;
}

.header-container.scrolled {
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #eeeeee;
}

.header-container.scrolled .header-content {
  color: #1a1a1a;
  padding: 0px 40px;
  transition: padding 0.3s ease-out;
}

.header-container.scrolled .logo a {
  color: var(--logo-color-scrolled);
}

.header-container.scrolled .navigation a {
  color: #1a1a1a;
}

.header-container.scrolled .navigation a::after {
  background-color: #1a1a1a;
}

.header-container.scrolled .icon-btn {
  color: #1a1a1a;
}

.header-container.visible-sticky {
  transform: translateY(0);
}

.header-container.hidden-sticky {
  transform: translateY(-200%);
}

.logo a,
.navigation a,
.icon-btn {
  transition: color 0.3s ease;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 35px;
  position: relative;
}

.logo {
  font-size: 2.8rem;
  font-weight: bold;
  font-family: "Kaushan Script", cursive;
}

.logo a {
  text-decoration: none;
}

.navigation-ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 45px;
}

.nav-item-with-menu {
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-link-home,
.nav-link-pages,
.nav-link-releases,
.nav-link-artists,
.nav-link-events,
.nav-link-videos,
.nav-link-shop,
.nav-link-blog,
.nav-link-elements {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
  transition: color 0.3s ease;
}

.navigation a::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 12%;
  width: 75%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-out, background-color 0.3s ease;
}

.navigation a:hover::after {
  transform: scaleX(1);
}

.navigation a.active::after {
  transform: scaleX(1);
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 22px;
  height: 100%;
}

.icon-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  height: 100%;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

.nav-item-with-menu {
  position: relative;
}

.mega-menu {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100vw;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 80px;
  display: flex;
  flex-wrap: nowrap;
  gap: 200px;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.nav-item-with-menu:hover .mega-menu,
.mega-menu:hover {
  opacity: 1;
  pointer-events: auto;
}

.mega-menu .column h3 {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #000000;
}

.mega-menu .column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mega-menu .column ul li {
  margin-bottom: 5px;
  position: relative;
}

.mega-menu .column ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 0.9rem;
  transition: color 0.2s ease, transform 0.3s ease;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  z-index: 1;
}

.mega-menu .column ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  background-color: var(--primary-color-hover);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease, height 0.3s ease;
  z-index: 0;
}

.mega-menu .column ul li:nth-child(odd) a::after {
  height: 0.1px;
}

.mega-menu .column ul li:nth-child(even) a::after {
  height: 1.5px;
}

.mega-menu .column ul li a:hover::after {
  transform: scaleX(1);
}

.header-container.transparent .mega-menu .column ul li a {
  color: #000000 !important;
}

.header-container.transparent .mega-menu .column ul li a:hover {
  color: var(--primary-color-hover) !important;
}

.header-container.transparent .mega-menu .column ul li a:hover::after {
  background-color: var(--primary-color-hover) !important;
}

.mega-menu .column ul li a img + ::after {
  content: none;
}

.mega-menu .column ul li a[href="#landing-page"]::after {
  content: none;
}

.mega-menu .column ul li:hover a[href="#landing-page"] {
  transform: translateY(0);
}

.mega-menu .column .title-h3 {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.mega-menu .column .title-h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: var(--primary-color-hover);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.mega-menu .column .title-h3:hover::after {
  transform: scaleX(1);
}

.mega-menu-pages .column ul li a {
  font-weight: bold;
}

.mega-menu-pages .column ul li {
  margin-bottom: 15px;
}
.mega-menu-pages .column ul li:last-child {
  margin-bottom: 0;
}

.mega-menu-pages .column ul li:nth-child(3n + 1) a::after,
.mega-menu-pages .column ul li:nth-child(3n + 2) a::after {
  height: 0.5px;
}

.mega-menu-pages .column ul li:nth-child(3n + 3) a::after {
  height: 1.5px;
}

.header-container.transparent .mega-menu-pages .column ul li a::after {
  background-color: var(--primary-color-hover) !important;
}

.mega-menu-pages .column ul li a:hover::after {
  transform: scaleX(1);
}

.mega-menu-events .column ul li a {
  font-weight: bold;
}

.mega-menu-events .column ul li {
  margin-bottom: 15px;
}
.mega-menu-events .column ul li:last-child {
  margin-bottom: 0;
}

.mega-menu-events .column ul li:nth-child(7n + 1) a::after,
.mega-menu-events .column ul li:nth-child(7n + 2) a::after,
.mega-menu-events .column ul li:nth-child(7n + 4) a::after,
.mega-menu-events .column ul li:nth-child(7n + 5) a::after,
.mega-menu-events .column ul li:nth-child(7n + 6) a::after {
  height: 0.5px;
}

.mega-menu-events .column ul li:nth-child(7n + 3) a::after,
.mega-menu-events .column ul li:nth-child(7n) a::after {
  height: 1.5px;
}

.header-container.transparent .mega-menu-events .column ul li a::after {
  background-color: var(--primary-color-hover) !important;
}

.mega-menu-events .column ul li a:hover::after {
  transform: scaleX(1);
}

.mega-menu-shop {
  position: absolute;
  top: 100%;
  right: 0;
  width: 160px;
  background: rgb(255, 255, 255);
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.mega-menu-shop .column ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.mega-menu-shop .column > ul > li > a {
  text-decoration: none;
  color: #000000;
  font-size: 0.8rem;
  transition: color 0.2s ease, transform 0.3s ease;
  display: inline-block;
  padding: 10px 0;
  position: relative;
  z-index: 1;
  flex-grow: 1;
  font-weight: bold;
}

.arrow-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  padding-left: 8px;
  z-index: 2;
}

.arrow-icon {
  transition: transform 0.3s ease;
  font-size: 0.8em;
  color: #545252;
  margin-left: 55px;
}

.mega-menu-shop ul .has-submenu.underline-on-hover a {
  position: relative;
  display: inline-block;
}

.mega-menu-shop ul li.underline-on-hover a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 1.5px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.mega-menu-shop ul li.underline-on-hover:hover a::after {
  width: 100%;
}

.mega-menu-shop > .column > ul > li:not(.underline-on-hover) > a::after {
  content: none;
}

.mega-menu-shop .column ul li:last-child {
  margin-bottom: 0;
}

.mega-menu-shop .column ul li.has-submenu {
  position: relative;
}

.sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  background-color: #ffffff;
  list-style: none;
  z-index: 1001;

  opacity: 0;
  pointer-events: none;
  transform: translateX(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.mega-menu-shop .column ul li.has-submenu:hover > .sub-menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.sub-menu li {
  margin-bottom: 8px;
}
.sub-menu li:last-child {
  margin-bottom: 0;
}

.column .sub-menu li a {
  display: inline-block;
  padding: 5px 0;
  color: #000000;
  font-size: 0.9rem;
  text-decoration: none;
  transition: color 0.2s ease;
  white-space: nowrap;
  position: relative;
}

.sub-menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  background-color: var(--primary-color-hover, #000000);
}
.sub-menu li a:hover::after {
  transform: scaleX(1);
}

.sub-menu-layouts li a::after {
  height: 0.5px !important;
}

.mega-menu-shop .sub-menu-grid li:nth-child(odd) a::after {
  height: 0.5px !important;
}

.mega-menu-shop .sub-menu-grid li:nth-child(even) a::after {
  height: 1.5px;
}

.sub-menu-products li a::after {
  height: 0.5px !important;
}

.mega-menu-blog {
  position: absolute;
  top: 100%;
  right: 0;
  width: 160px;
  background: rgb(255, 255, 255);
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.mega-menu-blog .column > ul > li:nth-child(1) > a::after,
.mega-menu-blog .column > ul > li:nth-child(2) > a::after {
  height: 0.5px;
}

.mega-menu-blog .column > ul > li:nth-child(3) > a::after {
  height: 1.5px;
}

.mega-menu-blog .column > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.mega-menu-blog .column > ul > li > a {
  text-decoration: none;
  color: #000000;
  font-size: 0.85rem;
  font-weight: bold;
  display: inline-block;
  position: relative;
  padding: 6px 0;
  transition: color 0.2s ease;
  z-index: 1;
  flex-grow: 1;
}

.mega-menu-blog .column > ul > li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.mega-menu-blog .column > ul > li:hover > a::after {
  transform: scaleX(1);
}
.mega-menu-blog .column ul li.has-submenu:hover > .sub-menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.cart-icon-wrapper {
  position: relative;
}

.cart-dropdown {
  position: absolute;
  top: 100%;
  right: -20px;
  width: 250px;
  background-color: white;
  color: #000000;
  font-weight: bold;
  font-size: 0.85rem;
  text-align: center;
  padding: 30px 20px;
  border: 1px solid #eaeaea;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.cart-icon-wrapper:hover .cart-dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-5px);
}

.hover-icon-wrapper {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.menu-icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.base-icon {
  z-index: 1;
}

.top-icon {
  z-index: 2;
  opacity: 0;
  transform: translateX(-10%);
  pointer-events: none;
}

.hover-icon-wrapper:hover .top-icon {
  opacity: 1;
  transform: translateX(0);
}
/* ----- RESPONSIVE ----- */
@media (max-width: 992px) {
  .navigation {
    display: none;
  }

  .mobile-menu-toggle {
    display: block;
  }

  .mobile-menu {
    display: block;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background: white;
    z-index: 998;
    padding: 20px 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .mobile-menu a {
    display: block;
    padding: 14px 0;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #eee;
  }

  .mobile-menu a:last-child {
    border-bottom: none;
  }

  .mega-menu,
  .mega-menu-shop,
  .mega-menu-blog {
    display: none !important;
  }
}
