body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #111;
  color: #fff;
}

h1, h2, h3 {
  font-weight: bold;
}

button {
  background: #e50914;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}